<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HEATWATCH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
  </head>
  <body>
    <div class="container">
      
         
         <h1>Hlídač HEATu</h1> 
          <div class='heat'>
            <form class='heat-form' action="/send" method="post">
              <div class="row">
                  <label class="form-label" for="to">Datum DD.MM</label>
                  <input type="text" class="form-input" name="date">
              </div>
      
              <div class="row">
                  <label class="form-label"  for="subject">Čas HH.MM</label>
                  <input list="times" class="form-input" name="time">
                  <datalist id="times">
                    <option value="1600" >
                    <option value="1700" >
                    <option value="1800" >

                  </datalist>
              </div>
      
              <div class="row">
                  <label class="form-label" for="subject">Email</label>
                  <input type="text" class="form-input" name="email">
              </div>
      
            
              <div class="row">
                  <button type="submit" class="btn btn-success">Hlídat</button>
              </div>
            </form>
          </div>
      
    </div>
  </body>
</html>